@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
  --blue: #288FB4;
  --complementary: #1D556F;
  --beige: #EFDDB2;
  --red: #FA360A;
  --black: #000000;
  --dark-blue: #090030;
  --dark-complementary: #0C3C78;
  --dark-font: #04879C;
  --red-dark: #F30A49;
  --sm: 1.6rem;
  --md: 3.6rem;
  --lg: 6.4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Amatic SC', cursive;
}

body {
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  /*Degradado 106 Party Bliss*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}

header .logo {
  width: 80%;
  height: 8rem;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  font-size: var(--md);
  line-height: 8.1rem;
  text-align: left;
  padding-left: 1.2rem;
  color: var(--dark-blue)
}

.menu {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: transparent;
  border: 0;
}

.menu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

svg {
  fill: var(--complementary);
}

p {
  font-size: var(--md);
  color: var(--complementary);
  font-weight: 800;
}

main {
  display: flex;
  justify-content: center;
}

a {
  color: #ffffff;
}

.information-container {
  width: 90%;
  height: auto;
  padding: 2rem;
  margin: 2rem;
  background: var(--beige);
  box-shadow: 0rem 0.7rem 0.4rem rgba(0, 0, 0, 0.2);
}

.themes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: var(--beige);
  overflow-y: scroll;
}

.theme-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 8rem;
  margin: .4rem;
  padding: 0 .8rem;
  background-color: var(--blue);
  border-radius: .8rem;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.5));
}

.theme-container p {
  display: flex;
  font-size: var(--sm);
  width: 20rem;
  justify-content: center;
}

.theme-menu {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.theme-menu div,
.theme-menu button {
  display: flex;
  width: 4rem;
  height: 80%;
  align-items: center;
  justify-content: center;
  background-color: var(--complementary);
  color: #ffffff;
  border-radius: .8rem;
}

.theme-menu div {
  display: none;
}

/*Media Query */
@media screen and (min-width: 270px) {
  .themes-container {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 360px) {

  .themes-container {
    padding-top: 12rem;
  }
}

@media screen and (min-width: 410px) {
  .themes-container {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 640px) {
  .menu {
    width: 10%;
  }

  header .logo {
    font-size: var(--lg);
  }

  .theme-menu div,
  .theme-menu button {
    width: 8rem;
  }
}

@media screen and (min-width: 670px) {
  .themes-container {
    height: 22rem;
  }

  .theme-container p {
    font-size: 2rem;
  }

  .theme-menu div,
  .theme-menu button {
    width: 6rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 690px) {
  .information-container {
    width: 100%;
  }

  .themes-container {
    height: 24rem;
  }
}

@media screen and (min-width: 860px) {
  .themes-container {
    padding-top: 14rem;
    height: 32rem;
  }

  .theme-container p {
    font-size: var(--md);
  }

  .theme-menu div {
    display: flex;
  }

  .theme-menu div,
  .theme-menu button {
    width: 8rem;
    font-size: 3.2rem;
  }
}