@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
  --bg-primary: linear-gradient(to top, #4481eb 0%, #04befe 100%) fixed no-repeat;
  --bg-secundary: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) fixed no-repeat;
  --bg-modal: linear-gradient(to top, #ffa366 0%, #f4cda5 100%) fixed no-repeat;
  --bg-card: linear-gradient(-60deg, #ff5858 0%, #f09819 100%) fixed no-repeat;
  --complementary-dark: #090030;
  --complementary-light: #ffff;
  --sm: 1.6rem;
  --md: 3.6rem;
  --lg: 6.4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Amatic SC', cursive;
  background: var(--bg-primary);
  background-size: cover;
}

.register-account{
    padding-top: 15rem;
    padding-right: 0rem;
    padding-bottom: 15rem;
    padding-left: 0rem;
    width: auto;
}

.login-form input{
    width: 100%;
    border: 0.1rem solid rgba(255, 255, 255, 0.12);
    padding: 0.7em;
    margin: 0.6em 0;
    border-radius: 0;
    margin-bottom: 1.5rem;
}

.login-form{
    margin-bottom: 3rem;
} 

.signform {
    background: var(--bg-secundary);
    background-size: cover;
    padding-bottom: 4rem;
    padding-top: 3.5rem;
    margin: 0 auto;
    margin-top: auto;
}

.bts {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    margin: 0.6em 0;
}

.bts-a{
    float: right;
    margin-right: 3.5rem;
    font-size: 2rem;
    color: var(--complementary-light);
    text-decoration: none;
}

.bts-a:hover{
    color: var(--complementary-dark);
    background: var(--bg-modal);
    background-size: cover;   
}

.bts span {
    text-align: center; 
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
}

.social {
    margin-top: 1.2rem;
    display: block;
    color: var(--complementary-light);
    height: 5rem;
    line-height: 5rem;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.fblogin {   
    background-color: #3b5898;
    border: 0.1rem solid rgba(255, 255, 255, 0.12);
    border-radius: .4rem;
}

.fblogin:hover {
    background-color: #5177c2;
}

.fblogin:active {
    position: relative;
    top: 0.1rem;
}

.gplogin {  
    background-color: #dd4c39; 
    border: 0.1rem solid rgba(255, 255, 255, 0.12);
    border-radius: .4rem;
}

.gplogin:hover {
    background-color: #f06e60;
}

.gplogin:active {
    position: relative;
    top: 0.1rem;
}

.twlogin { 
    background-color: #00abee;  
    border: 0.1rem solid rgba(255, 255, 255, 0.12);
    border-radius: .4rem;
}

.twlogin:hover {
    background-color: #4cbde6;
}

.twlogin:active {
    position: relative;
    top: 0.1rem;
}

.login-form input:focus, .login-form input:active {
    border-bottom: 0.2rem solid #79B42B;
    outline: none;
}

.subbt:hover {
    background-color: #79b42b;
}

.subbt {
    background-color: #79b42b;
    color: var(--complementary-light);
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: .3rem;
    width: 22rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-style: normal;
}

.left a {
    position: relative;
    color: var(--complementary-light);
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    float: right;
}

.left a:hover {
    color: var(--complementary-dark);
    background: var(--bg-modal);
    background-size: cover;  
}

.headit { 
    position: relative; 
    top: -10px;
}

.headit h4{
    font-size: 4rem;
    font-weight: 1000;
    color: var(--complementary-light);
}

.bts a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bts a:active{
    color: white;
    text-decoration: none;
}

.bts a:focus{
    text-decoration: none;
    color: white;
}

.bts i{ 
    margin: 1.5rem 1.5rem 1.5rem 2rem;
    float: left;
    width: 5%;
    font-size: 2rem;
    margin-left: 2rem;
}

.headit a {
    text-decoration: none;
}

.fa.fa-check-square {
    padding-right: 1.9rem;
}

form#login-form:before {
    content: 'or';
    font-size: var(--sm);
    color: var(--complementary-light);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 0.5rem;
    width: 0.5rem;
    left: 1.5rem;
    z-index: 900;
}

form#login-form:after {
    content: '';
    position: absolute;
    background: rgba(128, 128, 128, 0.3);
    bottom: 1.6rem;
    margin: auto;  
    height: 3.25em;
    width: 0.1em;
    left: 2.15em;
    box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
}

.remember{
    color: var(--complementary-light);
    font-size: 2rem;
    margin-left: .4rem;
}

::placeholder { 
    font-family: 'Amatic SC', cursive;
    font-size: var(--sm);
}

/*Media Query */
@media screen  and (min-width: 1400px) {
    .signform { 
        width: 80%; 
        left: 25%; 
    }
}

@media screen  and (max-width: 1400px) and (min-width: 1230px) {
    .signform {
        width: 70%;
        left: 25%; 
    }
}

@media screen  and (max-width: 1230px) and (min-width: 1000px) {
    .signform {
        width: 60%; 
        left: 15%;
    }
}

@media screen  and (max-width: 1000px) and (min-width: 900px) {
    .signform { 
        width: 70%; 
        left: 10%;
    }
}

@media screen  and (max-width: 900px) and (min-width: 750px) {
    .signform {
        width: 80%; 
        left: 8%; 
    }
}

@media screen  and (max-width: 750px) and (min-width: 640px) {
    .signform { 
        width: 90%; 
        left: 1%; 
    }
}

@media screen  and (min-width: 640px) {
    .rigth {   
        width: 47%;
        display: inline-table;
        padding-top: 2rem;
        margin-left: 2rem;
        float: right;
    }

    .left {
        width: 40%;
        display: inline-table;
        margin-left: 5rem; 
    }
}
@media screen  and (max-width: 640px) {
    .rigth { 
        width: 100%; 
        margin-bottom: 2rem;
    }
    .left {
        width: 85%;
        display: inline-table;
        margin-left: 2rem;  
    }
    .signform { 
        width: 80%;
        min-width:25.5rem;
    }
    form#login-form:before {
        content: ''; 
    }
    /* form#login-form:after {
        content: '';
        position: absolute;   
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height:0em;
        width: 0em;
        left: 0em;
        top: 0em;
    } */
}
@media screen  and (max-width: 1500px) and (min-width: 640px) {
    form#login-form::before {
        font-size: var(--sm);
        position: absolute;   
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        height: 0.5em;
        width: 0.5em;
        left: 1.5em;
        top: 2.4em;
        z-index: 900;
    }

    form#login-form::after {
        content: '';
        position: absolute;
        background: rgba(128, 128, 128, 0.3);
        top: 0;
        right: 0;
        left: 0;
        bottom: 15px;
        margin: auto;
        height: 3.25em;
        width: 0.1em;
        left: 2.15em;
        top: -2.8em;
        box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
    }
}

@media screen  and (max-width: 640px) and (min-width: 460px) {
    .signform { 
        left: 25%;
    }   
}

@media screen  and (max-width: 460px) and (min-width: 400px) {
    .signform {
        left: 20%; 
    }   
}

@media screen  and (max-width: 400px) and (min-width: 320px) {
    .signform {
        left: 10%; 
    }   
}

@media screen  and (max-width: 320px) {
    .signform {
        left: 1%;
    }
}

