@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
  --bg-primary: linear-gradient(to top, #4481eb 0%, #04befe 100%) fixed no-repeat;
  /*Degradado 106 Party Bliss*/
  --bg-secundary: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) fixed no-repeat;
  /*Degradado 123 Night Sky*/
  --bg-modal: linear-gradient(to top, #ffa366 0%, #f4cda5 100%) fixed no-repeat;
  /*Degradado personalizado*/
  --bg-card: linear-gradient(-60deg, #ff5858 0%, #f09819 100%) fixed no-repeat;
  /*Degradado 102 Happy Memories*/
  --complementary-dark: #090030;
  --complementary-light: #ffff;
  --sm: 1.6rem;
  --md: 3.6rem;
  --lg: 6.4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Amatic SC', cursive;
}

body {
  background: var(--bg-primary);
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .logo {
  width: 80%;
  height: 8rem;
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  font-size: var(--md);
  line-height: 8.1rem;
  text-align: left;
  padding-left: 1.2rem;
  color: var(--complementary-dark);
}

.menu {
  width: 20%;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.menu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  display: none;
  background: var(--bg-primary);
  background-size: cover;
  width: 100%;
  padding-right: .2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.menu-list>*:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.menu-list>*:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.menu-list.active {
  display: block;
  position: absolute;
  margin-top: 4.8rem;
}

.menu-list .menu-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 1);
}

.menu-list li:hover {
  background-color: var(--complementary-light);
}

.menu-list .menu-item a {
  text-decoration: none;
  font-size: var(--sm);
  font-weight: 600;
  color: var(--complementary-dark);
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu .dark-mode {
  display: none;
}

svg {
  fill: var(--complementary-dark);
}

h3 {
  font-size: var(--md)
}

.game {
  padding: 2rem;
  width: 100%;
}

.game .card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(9rem, 1fr));
  gap: 2rem;
  justify-items: center;
}

.game .card-container i {
  font-size: 12vw;
  color: var(--complementary-dark);
  position: absolute;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 8rem;
}

figure {
  position: relative;
  transition: all ease .6s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0rem 0.7rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 1.2rem;
}

figure .searched-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: perspective(500px) rotateY(180deg);
  backface-visibility: hidden;
}

figure .searched-image img {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  /* establece el ancho máximo de la imagen en el 100% del ancho del contenedor */
  height: 100%;
  /* ajusta automáticamente la altura de la imagen en relación con su ancho */
  object-fit: cover;
  /* asegura que la imagen se ajuste dentro del contenedor sin distorsionar su aspecto */
  border-radius: 1.2rem;
}

figure.opened {
  transform: perspective(500px) rotateY(180deg);
}

figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  transition: 0.3s all ease;
  border-radius: 1.2rem;
}

figure:hover:after {
  background: rgba(255, 255, 255, 0.137);
}

figure .back {
  width: 100%;
  height: 100%;
  background: var(--bg-card);
  background-size: cover;
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
  box-shadow: 0rem 0.7rem 0.4rem rgba(0, 0, 0, 0.4);
  border-radius: 1.2rem;
  transition: .2s;
}

.information,
.board {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.6rem;
}

.information div h3,
.board div h3,
.board div button,
.btn-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 8rem;
  background: var(--bg-secundary);
  background-size: cover;
  color: var(--complementary-light);
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  box-shadow: 0rem 0.8rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.btn-start {
  font-family: 'Amatic SC', cursive;
  font-size: var(--md);
  font-weight: 600;
  cursor: pointer;
}

.btn-start:active {
  transform: scale(.8);
}

.score h3+* {
  display: none;
}

.attempts h3+* {
  display: none;
}

#score,
#attempts {
  display: none;
}

.modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 60%;
  height: 60%;
  background: var(--bg-modal);
  background-size: cover;
  color: var(--complementary);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0);
  border-radius: 1.2rem;
}

/* .modal-close {
  /* transform: translateY(200%); 
}*/

.modal-options {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.modal-options img {
  height: 50%;
}

.modal-options p {
  font-size: 2.4rem;
}

.options-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.options-buttons .modal-button {
  height: 4.8rem;
  width: 40%;
  margin-top: 2rem;
  font-family: 'Amatic SC', cursive;
  font-size: 2.4rem;
  background: var(--bg-secundary);
  background-size: cover;
  color: var(--complementary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.modal-button a {
  text-decoration: none;
  color: var(--complementary-light);
}

/*Media Query */
@media screen and (max-width: 370px) {
  h3 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 340px) {
  figure {
    width: 9rem;
    height: 10rem;
  }
}

@media screen and (min-width: 410px) {
  figure {
    width: 9rem;
    height: 12rem;
  }

  .modal-options p,
  .options-buttons .modal-button {
    font-size: 3rem;
  }
}

@media screen and (min-width: 460px) {
  .game .card-container {
    grid-template-columns: repeat(4, minmax(9rem, 1fr));
  }
}

@media screen and (min-width: 640px) {
  header .logo {
    font-size: 4rem;
  }

  figure {
    width: 10.5rem;
    height: 14rem;
  }

  .modal-options p,
  .options-buttons .modal-button {
    font-size: var(--md);
  }
}

@media screen and (min-width: 768px) {
  header .logo {
    font-size: 5.6rem;
  }

  figure {
    width: 12rem;
    height: 16rem;
  }

  main {
    display: grid;
    height: 80%;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
      "b b a"
      "b b c"
  }

  .information {
    grid-area: a;
  }

  .game {
    grid-area: b;
    height: 100%;
  }

  .board {
    grid-area: c;
  }

  .information,
  .board {
    height: 100%;
    flex-direction: column;
    padding-right: 4rem;
  }

  .information div,
  .board div {
    padding-bottom: 2rem;
  }

  .information div h3,
  .board div h3,
  .board div button,
  .btn-start {
    width: 16rem;
  }

  .game .card-container i {
    font-size: 10vw;
  }

  .modal {
    width: 50%;
  }

  .modal-options p,
  .options-buttons .modal-button {
    font-size: 4rem;
  }

  .start {
    grid-area: c;
  }

  .menu .dark-mode {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  header .logo {
    font-size: var(--lg);
  }

  .game .card-container {
    grid-template-columns: repeat(6, minmax(9rem, 1fr));
  }

  .game .card-container i {
    font-size: 8vw;
  }

  .modal {
    width: 40%;
    height: 70%;
  }
}

@media screen and (min-width: 1680px) {
  .game .card-container {
    grid-template-columns: repeat(8, minmax(9rem, 1fr));
  }

  figure {
    width: 13.5rem;
    height: 18rem;
  }
}

@media screen and (min-width: 1870px) {
  figure {
    width: 15rem;
    height: 20rem;
  }
}